.information {
  background-color: $dark-green;
  color: $bone-white;
  margin-bottom: 3rem;
  margin-top: 3rem;

  h2 {
    font-size: $typo-m;
    margin: 0;
  }

  @media (min-width: 40rem) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.information_personal{
  padding: 3rem 0;

  h2 {
    margin: 0 0 3rem 5rem;
  }

  ul {
    margin-left: 2.5rem;
    list-style: none;
  }

  li {
    margin-bottom: 2rem;
  }

  img {
    margin-right: 1rem;
  }
}

.information_contact {
  padding: 3rem 0;

  h2 {
    margin-left: 5rem;
  }

  p {
    margin: 2rem 0 5rem 5rem;
  }

  .information_contact-social {
    margin: 2rem 0 0 5rem;
  }

  @media (min-width: 40rem) {
    h2 {
      margin-right: 5rem;
    }
  }
}
